body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left, .right {
    width: 45%;
    padding: 20px;
    border-radius: 8px;
}

.left {
    background: #d7ffd9;
}

.right {
    background: #ffd7d7;
}

input, select {
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444;
}
